* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-weight: 400;
    line-height: 1.6;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    background-color: #222;
    align-items: center;
}

form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
    margin-bottom: 1rem;
}

input,
button {
    border: none;
    outline: none;
    font-size: 1rem;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    padding: .5rem;
}

button:hover {
    background-color: #45a049;
}

.chat-display {
    background-color: #444;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
    border: 2px solid #555;
}

.post {
    background-color: #555;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    background-color: #333;
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: blue;
}

.post__header--reply {
    background-color: purple;
}

.post__header--name {
    font-weight: bold;
    color: #4CAF50;
}

.post__header--time {
    font-size: .8rem;
    color: #aaa;
}

.post__text {
    margin-top: 5px;
    color: #ddd;
    padding: .25rem .5rem;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
    background-color: #222;
    border: 2px solid #444;
    color: #fff;
}

.activity {
    font-style: italic;
    color: #aaa;
}

.form-private-msg {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

#privateUser,
#privateMessage {
    max-width: 150px;
}

#sendPrivate {
    width: auto;
    background-color: #2196F3;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    padding: .5rem;
}
input{
    padding:10px;
    border-radius: 10px ;
}

#sendPrivate:hover {
    background-color: #0b7dda;
}
